<div class="field">
    <%= address_form.label :street %>
    <%= address_form.text_field :street %>
</div>
<div class="field">
    <%= address_form.label :cep %>
    <%= address_form.text_field :cep %>
</div>
<div class="field">
    <%= address_form.label :complement %>
    <%= address_form.text_field :complement %>
</div>
<div class="field">
    <%= address_form.label :neighborhood %>
    <%= address_form.text_field :neighborhood %>
</div>
<div class="field">
    <%= address_form.label :city %>
    <%= address_form.text_field :city %>
</div>
<div class="field">
    <%= address_form.label :uf %>
    <%= address_form.text_field :uf, maxlength: 2 %>
</div>
<div class="field">
    <%= address_form.label :ibge_code %>
    <%= address_form.text_field :ibge_code %>
</div>